{% extends "layout.html" %}


{% block title %}
    Mange Orders
{% endblock %}


{% block body %}

    <div>
        <h3 style="text-align: center; margin-bottom: 1cm; ">All booked Times</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Name Of Person</th>
                    <th>Phone Number</th>
                    <th>Name Of Field</th>
                    <th>Day And Time</th>
                    <th>Price</th>
                    <th>To MORE INFO</th>
                </tr>
            </thead>

            <tbody>

                {% for info in infos %}
                    <tr>
                        <td>{{ info.id_order }}</td>
                        <td>{{ info.person_name }}</td>
                        <td>{{ info.phone_number }}</td>
                        <td>{{ info.field_name }} / {{ info.size }}</td>
                        <td>{{ info.day }} / {{ info.time }}</td>
                        <td>{{ info.price }} R.O</td>
                        <td>
                            <form action="/manger" method="post">
                                <button class="btn btn-primary" type="submit" name="orderInfo" value="{{ info.id }}">
                                    Check
                                </button>
                            </form>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
