{% extends "layout.html" %}


<!--this page for submangers to check the orders-->

{% block title %}
    mange canceled orders
{% endblock %}


{% block body %}

    <div>
        <h3 style="text-align: center; margin-bottom: 1cm; ">All canceled  Times For {{ field_name }}</h3>
        <h5> total money: {{ total }}</h5>
        <h5> profit: {{ profit }}</h5>
        <h5> count: {{ count }}</h5>

        <table class="table">
            <thead>
                <tr>
                    <th>Cancel ID</th>
                    <th>Name Of Person</th>
                    <th>Phone Number</th>
                    <th>Field ID / size</th>
                    <th>Day And Time</th>
                    <th>Price</th>
                    <th>To MORE INFO</th>
                </tr>
            </thead>

            <tbody>

                {% for info in infos %}
                    <tr>
                        <td>{{ info.id }}</td>
                        <td>{{ info.person_name }}</td>
                        <td>{{ info.person_number }}</td>
                        <td>{{ info.field_id }} / {{ info.size }}</td>
                        <td>{{ info.day }} / {{ info.time }}</td>
                        <td>{{ info.price }} R.O</td>
                        <td>
                            <span style="margin: 1px;">
                                <form action="/manger/orders/canceled" method="post" style="margin: 0px;">
                                    <input hidden name ="from" value = "{{ from_ }}">
                                    <button class="btn btn-primary" style="margin: 0px;" type="submit" name="canceledId" value="{{ info.id }}">
                                        Check
                                    </button>
                                </form>
                            </span>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
