{% extends "layout.html" %}

<!-- This page for Manager and submanagers to check the orders -->

{% block title %}
    Manage Orders
{% endblock %}

{% block body %}
    <style>
        .no-vertical-borders th,
        .no-vertical-borders td {
            border-right: none;
            border-left: none;
        }
    </style>

    <div>
        <h3 class="text-center mb-4">All booked Times For {{ field_name }}</h3>
        <div class="table-responsive">
            <table class="table table-bordered no-vertical-borders">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Name Of Person</th>
                        <th>Phone Number</th>
                        <th>Field</th>
                        <th>Time</th>
                        <th>Price</th>
                        <th>To MORE INFO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for info in infos %}
                        <tr>
                            <td>{{ info.id_order }}</td>
                            <td>{{ info.person_name }}</td>
                            <td>{{ info.phone_number }}</td>
                            <td>{{ info.field_name }} / {{ info.size }}</td>
                            <td>{{ info.day }} / {{ info.time }}</td>
                            <td>{{ info.price }} R.O</td>
                            <td>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                    <form action="/fieldsMangers/DirectSubMangers/orderState" method="get" class="m-0">
                                        <input type="hidden" name="from" value="{{ from_ }}">
                                        <button class="btn btn-primary btn-sm" type="submit" name="orderCompleted" value="{{ info.id_order }}">
                                            Done
                                        </button>
                                    </form>
                                    <form action="/fieldsMangers/DirectSubMangers/orderState" method="post" class="m-0">
                                        <input type="hidden" name="from" value="{{ from_ }}">
                                        <button class="btn btn-primary btn-sm" type="submit" name="orderInfo" value="{{ info.id_order }}">
                                            Check
                                        </button>
                                    </form>
                                    <form action="/orderReport" method="post" class="m-0">
                                        <button class="btn btn-primary btn-sm" type="submit" name="orderReport" value="{{ info.id_order }}">
                                            Report (not work)
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
