{% extends "layout.html" %}

<!-- this page which the submangers will enter after login (check orders or check completed orders) -->

{% block title %}
    Sub Mangers
{% endblock %}


{% block body %}
    <div style="text-align: center;">


        <span style="display: inline-block; margin: 20px;">
            <form action="/fieldsMangers" method="post">
                <button style="border: 1px; margin: 0px; padding: 0px;" type="submit">
                    <input hidden name = "field_id" value = "{{ field_id }}">
                    <input hidden name = "field_name" value = "{{ field_name }}">
                    <img style="display: block; -webkit-user-select: none; margin: 0px; padding: 0px; border: none; background-color: hsl(0, 0%, 90%); transition: background-color 300ms;"  width="250" height="250" src="/static/favicon.ico">
                </button>
                <h6 style="text-align: center;">Field Information</h6>
            </form>
        </span>

        <span style="display: inline-block; margin: 20px;">
            <form action="/fieldsMangers/DirectSubMangers" method="get">
                <input hidden name = "field_id" value = "{{ field_id }}">
                <input hidden name = "field_name" value = "{{ field_name }}">
                <button style="border: 1px; margin: 0px; padding: 0px;" type="submit">
                    <img style="display: block; -webkit-user-select: none; margin: 0px; padding: 0px; border: none; background-color: hsl(0, 0%, 90%); transition: background-color 300ms;"  width="250" height="250" src="/static/orders.png">
                </button>
                <h6 style="text-align: center;">Orders</h6>
            </form>
        </span>
    </div>

{% endblock %}
